body {
  padding: 15px;
  background-color: #EEEEEE;
}
table {
  table-layout: fixed;
}
tr {
  height: 50px;
  background-color: #FEFFF5;
}
th {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
}
.schedule-control {
  width: 100%;
  height: 50px;
  padding: 3px;
}
.schedule-control-week {
  font-size: 150%;
  line-height: 400%;
  /*hack*/
}
.breakfast-shift {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  /* text-align: center; */
  margin: -5px;
  /* hack */
  padding: 2px;
  color: #444444;
  background-color: #97F0AD;
}
.lunch-shift {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  /* text-align: center; */
  margin: -5px;
  /* hack */
  padding: 2px;
  color: #444444;
  background-color: #52C46F;
}
.dinner-shift {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  /* text-align: center; */
  margin: -5px;
  /* hack */
  padding: 2px;
  color: #444444;
  background-color: #BABAFF;
}
.late-shift {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  /* text-align: center; */
  margin: -5px;
  /* hack */
  padding: 2px;
  color: #444444;
  background-color: #867EE0;
}
tr td:first-child {
  height: 50px;
  margin: -8px;
  background-color: #F8FFCC;
}
@media all and (max-width: 375px) {
  body {
    background-color: #867EE0;
    font-size: 50%;
    padding: 1px;
  }
}
